body {
  margin: 15px;
  background-color: #F5F6F7;
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 100%;
}

.boxshadow {
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel {
  background-color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
}

// Disable text selection.
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
};

// Align text center.
.text-center {
  text-align: center;
};

// Hide contents.
.hidden {
  display: none;
};

// Clear floats.
.clearfix {
  clear: both;
};

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.thumbnail {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

// Reduce top-bottom margins to 2px each.
.clear-margin {
  margin: 2px 0 2px 0;
}

// Bold text.
.bold {
  font-weight: bold;
};

// Remove padding.
.nopadding {
  padding: 0 !important;
};



@import '_responsive-grid';
@import '_form';
@import '_icons';


@import '_Jumbotron';
@import '_PaginationControls';
